{% extends 'master/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="principal">
            <img class="logo {{ layout.class_logo }}" src="/content/img/logo.png" />
            <p>Soluções que só nós oferecemos</p>
        </div>
    <p class="mouse-text">passe o mouse</p>
    <ul class="links">
        <li>
            <a class="ie" href="/planejamento-de-projetos/">
                <p class="mouse">Planejamento de projetos</p>
                <div class="line mouse"></div>
            </a>
        </li>
        <li>
             <div style="position: absolute;" class="mouse gp">
                <div style="height: 7px;width: 2px;background-color: #faba0d;top: 0%; position: relative;" class="line-up"></div>
                <div class="line-left" style="width: 162px;height: 2px;right: 99%;bottom: 71%;background: #faba0d;"></div>
                <p style="bottom: -1%;right: 152%;width: 210px;">Instalação Elétrica</p>
            </div>
            <a href="/instalacao-eletrica/" class="gp"></a>

        </li>
        <li>
            <a href="/capacitacao/" class="ca"></a>
            <div class="mouse">
                <div style="width: 2px; height: 10px; background: #5596cb; left: -16%;" class="line-up">
                       <div style="height: 10px; border-bottom:2px solid #5596cb; width: 100px;" class="line-left"></div>
                </div>
                <p>Capacitação</p>
            </div>
        </li>
        <li>
            <div style="top: 15px; right: 42%"  class="mouse">
                <div class="line" style="width: 100px; height: 2px; background-color: #d47b28"></div>
                <p style="text-align: right;">Energia Solar</p>
            </div>
            <a href="/energia-solar/" class="es"></a>

        </li>
    </ul>


    <section id="company" class="company clearfix">
        <p class="title">A Empresa</p>
        <div class="text right-skew">
            {{ empresa.texto|safe }}
        </div>
        <div class="banners">
            {% for banner in banners %}
                <div class="banner" id="ban{{ forloop.counter }}" style="background-image: url({{ banner.imagem.url }})"></div>
            {% endfor %}
            <ul class="ball-banner">
                {% for banner in banners %}
                    <li id="banner{{ forloop.counter }}"></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="results">
        <h2>Resultados</h2>
        <div class="triangle up bg-white"></div>
        <div class="triangle down bg-white"></div>
        <ul class="numbers clearfix">
            <li>

                <div class="circle">
                    <p><strong>7</strong><span style="font-weight: 800">anos</span></p>
                </div>
                <p class="smaller">
                    No mercado
                </p>
            </li>
               <li>
                <div class="circle">
                    <p><strong>3,5</strong><span style="font-weight: 800;">bi</span></p>
                </div>
                <p class="smaller">
                    somados em projetos entregues com a garantia de <span style="font-weight: 800;"> custo e prazo</span>
                </p>
            </li>
            <li>
                <div class="circle">
                    <p><span style="display: inline-block"><span style="display:block">+</span> <span style="font-weight: bolder; display: block;">de</span> </span> <strong style="display: inline-block">20</strong></p>
                </div>
                <p class="smaller">
                    <span style="font-weight: bolder">grandes</span> projetos entregues
                </p>
            </li>

        </ul>
    </section>
    <section class="depositions">
        <h2>Depoimentos</h2>
        <ul class="clearfix">
            {% for depoimento in depoimentos %}
            <li>
                <img class="profile" src="{{ depoimento.foto.url }}" />
                <p class="text">{{ depoimento.texto }}</p>
                  <div class="credentials clearfix">
                    <div class="icon">
                        <div class="triangle large"></div>
                        <div class="triangle small"></div>

                    </div>
                    <div>
                      <span class="name">{{ depoimento.nome }}</span>
                        <span>{{ depoimento.empresa }}</span>
                    </div>
                </div>

            </li>
           {% endfor %}
        </ul>
    </section>

{% endblock %}

{% block scripts %}

      <script>


      $('.links li').mouseover(function(){
          $(this).find('.mouse').show();
      });
      $('.links li').mouseleave(function(){
          $(this).find('.mouse').hide();
      });
      var banners = $('.banner').length;
      var atual = banners > 0 ? 1 : 0;
      setInterval(function(){
          $('.banner').hide();
          $('.ball-banner li').removeClass('active');
         if(atual != 0){
             $('#ban' + atual).fadeIn(400);
             $('#banner' + atual).addClass('active');
         }

         atual = atual == banners ? 1 : atual+1;
      }, 3000);
    </script>
{% endblock %}