{% extends 'master/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="principal">
            <img class="logo {{ layout.class_logo }}" src="/content/img/{{ layout.logo }}" />
        </div>
    <div class="text-justify">
       {{ conteudo.texto|safe }}
    </div>
    <div class="text-balls clearfix">
        <div class="ball {{ layout.header }}"></div>
        <div class="text right">
            {{ conteudo.primeira_bola|safe }}
        </div>

    </div>
    <div style="margin-top: 3%;" class="text-balls clearfix">
      <div class="text">
            {{ conteudo.segunda_bola|safe }}
        </div>
        <div class="ball {{ layout.header }}" style="float: right;"></div>
    </div>
    {% include 'master/projetos.html' with layout=layout projetos=layout.projetos %}




{% endblock %}

{% block scripts %}
    <script src="/content/js/jquery.fancybox-1.3.4/jquery-1.4.3.min.js"></script>
    <script src="/content/js/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
    <script>
        $(document).ready(function(){
            $('.fancybox').fancybox();
        })
    </script>
{% endblock %}

