<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{{ layout.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/content/css/style.css" />
    <link rel="stylesheet" href="/content/css/sweetalert.css" />
    <link rel="stylesheet" href="/content/js/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
</head>
<body>
    <header class="{{ layout.header }}">
        <ul class="icons">
            <a {% if layout.title == 'Home' %}id="empresa"{% endif %} class="link left" href="{% if layout.title != 'Home' %}/{% else %}#{% endif %}">{% if layout.title != 'Home' %}Home{% else %}A empresa{% endif %}</a>
            <a href="/planejamento-de-projetos/" class="gerenciamento-projetos white image"></a>
            <a href="/instalacao-eletrica/" class="instalacao-eletrica white image"></a>

            <a href="/capacitacao/" class="capacitacao white image"></a>
            <a href="/energia-solar/" class="energia-solar white image"></a>
            <a id="contato" class="link right">Contato</a>
        </ul>
    </header>
    <div class="big-triangle {{ layout.header }}"></div>
    <div class="small-triangle {{ layout.header }}"></div>
    <section class="content">

        <div class="large-triangle {{ layout.header }}"></div>
        <div class="small-bottom-triangle {{ layout.header }}"></div>
        <div class="smaller-triangle-bottom {{ layout.header }}"></div>
        {% block content %}{% endblock %}
    </section>
       <section id="section-contato" class="contact">
        <h2>Contato</h2>
        <div class="content clearfix">
            <div class="map">
            <div id="map" ></div>
                <p>Rua Vinte, 2024 - Morada do Vale,</p>
                <p>Barra do Piraí - RJ, CEP - 27.163-000</p>
            </div>
            <form class="form-contatct">
                <input type="email" id="email" placeholder="Email" />
                <input type="text" id="nome" placeholder="Nome" />
                <input type="text" id="assunto" placeholder="Assunto" />
                <textarea id="mensagem" placeholder="Mensagem"></textarea>
                <button id="send-contact" type="submit">Enviar</button>
            </form>
        </div>
    </section>
    <footer>
        <div>
            <p>
                <a class="facebook" href="https://www.facebook.com/gruporiplan/" target="_blank" ></a>
                <a class="instagram" href="https://www.instagram.com/gruporiplan/" target="_blank"></a>
                Nos acompanhe
            </p>
            <img src="/content/img/tri.png" />
        </div>
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/content/js/sweetalert.min.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxcLD5LxzQLD8o3qvx5NcOrzb4pHnruE8&callback=initMap">
    </script>
<script>
    $('#contato').click(function(){
        $('html, body').animate({
                    scrollTop: $("#section-contato").offset().top
                }, 2000);
    });
    $('#empresa').click(function(){
        $('html, body').animate({
                    scrollTop: $("#company").offset().top
                }, 2000);
    });
       function initMap() {
          //-22.483627, -44.047855
        var uluru = {lat: -22.483627, lng: -44.047855};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
      initMap();
    $('.form-contatct input.has-error').on('focusin',function(){
       $(this).removeClass('has-error');
    });
    $('#send-contact').click(function(e){
        e.preventDefault();
        var mensagem = $('#mensagem').val();
        var assunto = $('#assunto').val();
        var email = $('#email').val();
        var nome = $('#nome').val();
        console.log(mensagem);
        var hasError = false;
        if(mensagem == undefined || mensagem == null || mensagem == ""){
            hasError = true;
            $('#mensagem').addClass('has-error');
        }
        if(nome == ""){
            hasError = true;
            $('#nome').addClass('has-error');
        }
        if(assunto == ""){
            hasError = true;
            $('#assunto').addClass('has-error');
        }
        if(email == ""){
            hasError = true;
            $('#email').addClass('has-error');
        }
        if(!hasError){
            $.ajax({
                url: '/new-contact/',
                method: 'POST',
                data: {
                    nome: nome,
                    mensagem: mensagem,
                    email: email,
                    assunto: assunto,
                },
                beforeSend: function(xhr){
                    $('#send-contact').hide();
                }

            }).done(function(){
                 swal('Obrigado', 'Em breve entraremos em resposta', 'success');
                $('input, textarea').val('');
                 $('#send-contact').show();


            }).fail(function(){
                swal('Erro', 'Houve algum erro de comunicação, tente novamente.', 'error');
                 $('#send-contact').show();
            })
        }

    });
</script>
{% block scripts %}{% endblock %}
</html>