<section class="project {{ layout.header }}">
    <h2 style="color: {{ layout.color }}">Projetos</h2>
    <ul>
        {% for projeto in projetos %}
       <li title="{{ projeto.titulo }}" style="background-image: url({{ projeto.imagem.url }});">
           <a href="{{ projeto.imagem.url }}" style="cursor: pointer;display: block; width: 100%; height: 100%;" class="fancybox">
            </a>
       </li>
        {% endfor %}
    </ul>
</section>